@import 'config';

.ant-layout-header {
  position: relative;
  left: 0;
  right: 0;
  z-index: 9;
}
.main-layout .ant-layout-header {
  background: #FFFFFF;
  padding: 0;
  height: $heightHeader;
  line-height: 1.6;
}

.navbar-section {
  border-bottom: solid 1px #FFFFFF;
  overflow: auto;
  // box-shadow: 0 0 2px #f3f1f1;

  display: flex;
  flex-direction: row;
  // justify-content: center;
  align-items: center;
  padding: 24px 48px;
  gap: 24px;

}

.navbar {
  display: flex;
  align-items: center;
  padding: 0;

  .ant-menu-item {
    padding: 0px 2px;
  }
  .ant-menu-submenu-title {
    padding: 4px;
  }
  .ant-menu-item a,
  .ant-menu-submenu-title a {
    padding: 10px 0px;
  }
  .ant-menu-horizontal {
    border-bottom: none;
  }
}

.navbar-logo {
  width: 128px;
  height: 72px;
  // float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  a {
    display: inline-block;
    font-size: 1.2rem;
    padding: 16px 20px;
    text-transform: uppercase;
  }
}

.navbar-menu {
  width: calc(100% - 150px);
  float: left;
}